.movie-detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  height: 500px;
}

.movie-detail-backdrop {
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

.movie-detail-poster {
  width: 270px;
  height: 390px;
  border-radius: 0.3em;
  opacity: 20;
  margin: 40px;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.7);
}

.movie-detail-title {
  text-decoration: underline;
}

.movie-detail-release {
  padding-bottom: 50px;
}

.movie-detail-overview {
  padding-bottom: 50px;
  padding-right: 40px;
}

.submit-rating-btn {
  height: 3em;
  width: 10em;
  font-size: 1em;
  padding: 0;
  background: rgb(219, 219, 219);
  border: 1px solid black;
  text-transform: uppercase;
}

.select {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; Remove default arrow */
  height: 3em;
  outline: none;
  padding: 0.5em;
  border-radius: 0;
  font-size: 1em;
  width: 10em;
  margin-bottom: 0.5em;
}

.ratings {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

.user-rating-container {
  display: flex;
  flex-direction: column;
}

.rating-number {
  font-size: 3em;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
