.card-image {
  width: 100%;
}

.movie-card-title {
  z-index: 1;
  color: white;
  text-transform: uppercase;
  text-shadow: black 0px 0px 2px;
  font-size: 1.3em;
  /* bottom: 0; */
}

.movie-card {
  height: 20em;
  position: relative;
  margin: 1em;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  background-size: cover;
  border-radius: 0.3em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.movie-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.title-rating-container {
  position: absolute;
  padding: 1em;
  width: 100%;
}

.movie-card-rating {
  color: gray;
  text-shadow: black 0px 0px 2px;
  font-size: 0.8em;
  margin-top: 0.5em;
}

.rating-score {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}

.fa-smile {
  color: #73cf77;
  margin-right: 0.3em;
}

.fa-meh {
  color: #cf7373;
  margin-right: 0.3em;
}

.fa-star {
  color: #fffb80;
  margin-right: 0.2em;
}

.rating-category {
  color: white;
  text-transform: uppercase;
  font-size: 0.6em;
}

.average-user-ratings-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.homepage-user-rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
